body {
    background: white;
}
#main-header {
    background: pink;
    position: fixed;
    width: 100%;
    text-align: center;
    height: 140px;
    font-family: system-ui;
    font-size: 15pt;
    top: 0px;
    left: 0px;
    z-index: 2;
    border-radius: 10px;
}
#main {
    top: 0;
    font-family: system-ui;
}
#left-panel{
    background: white;
    position: fixed;
    top: 140px;
    width: 200px;
    line-height: 5;
    font-size: 15pt;
    left: 0px;
    z-index: 1;
    border-right: 1px solid pink;
    text-align: center;
    padding-right: 40px;
    height: 100%;
}
#right-side {
    position: relative;
    top: 140px;
    left: 255px;
    width: 65vw;
    padding-bottom: 30px;
    line-height: 1.5;
    font-size: 12pt;
    height: 100%

}
#sticky-menu ul {
    list-style-type: none;
}
#page-bottom {
    position: relative;
    bottom: -120px;
    border-top: 1px solid pink;
    width: 100%;
    left: 233px;
    height: 140px;
    padding-left: 25px;
    padding-top: 5px;
}
#search-form {
    position: fixed;
    top: 90px;
    left: 10px;
    background-color: rgb(219, 166, 175);
    float: right;
    width: 220px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
#search-bar {
    all: unset;
    font: 16px system-ui;
    color: rgba(255,255,255,0.7);
    height: 100%;
    width: 100%;
    padding: 6px 10px;
    text-align: center;
}
::placeholder {
    color: rgba(255,255,255,0.7);
}
#sushi {
    position: fixed;
    left: 60px;
    top: -15px;
    width: 125px;
}
.highlighted {
    background: yellow;
}
.hidden, .hidden-header {
    display: none;
}
